<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="NLog\all_log.log">

	<targets>
		<!--VS输出窗口-->
		<target name="debugger" xsi:type="Debugger"
						layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />
		<!--文件日志，archive相关参数：文件拆分，每archiveAboveSize:100M拆分一个新文件-->
		<target xsi:type="File"
			  name="all_log"
			  fileName="NLog\${date:format=yyyy}${date:format=MM}\info-${shortdate}.txt"
			  layout="${longdate}-----${logger}-----${uppercase:${level}}-----${message}-----${exception}"
			  archiveFileName="NLog\${date:format=yyyy}${date:format=MM}\${shortdate}.{#}.txt"
			  archiveNumbering="Rolling"
			  archiveAboveSize="104857600"
			  concurrentwrites="true"
			  maxArchiveFiles="100"
			  archiveEvery="Day"
              />

		<target xsi:type="File"
			  name="error"
			  fileName="NLog\${date:format=yyyy}${date:format=MM}\error-${shortdate}.txt"
			  layout ="${longdate}-----${logger}---- ${uppercase:${level}} ${message} ----${exception}"/>

	</targets>

	<rules>
		<!-- add your logging rules here -->
		<!--路由顺序会对日志打印产生影响。路由匹配逻辑为顺序匹配。-->

		<!--Skip Microsoft logs and so log only own logs-->
		<!--以Microsoft打头的日志将进入此路由，由于此路由没有writeTo属性，所有会被忽略-->
		<!--且此路由设置了final，所以当此路由被匹配到时。不会再匹配此路由下面的路由。未匹配到此路由时才会继续匹配下一个路由-->

		<!--<logger name="*" minlevel="Trace" writeTo="all_log" />  -->
		<logger name="*" minlevel="Debug" writeTo="debugger" />
		<logger name="*" minlevel="Info" writeTo="all_log" />
		<logger name="*" level="Error" writeTo="error" />
	</rules>
</nlog>